@import "../app.component.scss";

@mixin bottom-border {
    text-align:left;
    padding-left: 14px;
    width: 50%;
    font-weight:normal;
    font-size: 14px;
    padding:14px;
}
.container {
	.account_header {

		.small_header {
			color: $color-grey;
		}

		&.account_header_active {
			background: $color-header-bg-light-grey;
        }
        @include bottom-border;
        border-bottom: $bottom-border-dark-grey;
	}

	.account_table {

		flex-grow: 1;
		background-color: $color-white;
		font-family: $font-family;
        border-collapse: collapse;
        
    	tbody td{
            @include bottom-border;
            border-bottom: $bottom-border-light-grey;
		}
		
        tbody td + td,
		thead th + th
		{
			text-align:right;
			padding-right: 14px;
		}
    
		/* 1st column Bold font*/
		tbody td:first-child{
			color:$color-blue-bg;
			font-weight: bold;
			font-size: 14px;
		}

	}

	.sort_icon {
        display:inline;
        cursor: pointer;
        font-weight: bolder;
        color: $color-blue-bg;

		&::after {
			content: '\02C4';
		}
		
		&.sort_icon_desc::after {
			content: '\02C5';
		}
    }
    display:flex;
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
    background-color:$color-blue-bg; //#1569C7; //#0F8EC7 or 1569C7
}

.footerStyles{
  text-align:center;
  color:#1569C7;
  font-size: 15px;
  height: 55px;
    a:link,a:hover,a:visited{
        @extend .footerStyles;
        text-decoration: none;
    }
}

/*  Style for positive/negative values in 2nd column    */
@mixin fontSize {
    font-size: 10px;
    font-weight: bold;
}
.txtGreen{
    @include fontSize;
    color: $color-green;
}
.txtGrey{
    @include fontSize;
    color:$color-grey;
}
.txtRed{
    @include fontSize;
    color:$color-red;
}